@font-face {
    font-family: nick-titling;
    src: url(../fonts/nick-titling.ttf);
}
@font-face {
    font-family: worksans-extrabold;
    src: url(../fonts/WorkSans-ExtraBold.ttf);
}
header{
    display: flex;
    background-color: #FFF;
    align-items: center;
    padding: 27px;
    width: 100%;
    justify-content: space-between;
}
h2{
    font-size: 40px;
    letter-spacing: 2px;
    font-family: nick-titling;
    color: #8dc728;
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    color: black;
    text-decoration: none;
    margin: 0px 30px;
    font-family: sans-serif;
    font-size: medium;
}
span{
    color: #ce2020;
}
body{
    background-image: url(../images/sun-pattern.jpg);
    background-color: #e0e0e0;
    background-repeat: repeat;
    margin: 0;
}
.page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5%;
    gap: 12px;
    width: 94%;
}
h1{
    font-family: worksans-extrabold;
    font-size: 70px;
    line-height: 54px;
    margin-top: 0;
}
p{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 26px;
}
.content {
    width: 350rem;
    margin-right: 1rem;
    height: 480px
}
h5{
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 20px;
}
.images {
    display: flex;
    gap: 12px;
    height: 480px;
}
span.white {
    background-color: #FFF;
    bottom: 40px;
    width: 100px;
    text-align: center;
    padding: 15px 5px 0px 5px;
}
span.green {
    background-color: #8dc728;
    bottom: 0;
    width: 140px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: right;
}
.white, .green {
    position: absolute;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    height: 30px;
    right: 0;
}
#img1, #img2, #img3 {
    position: relative;
    height: 480px;
    width: 19em;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#img1 {
    background-image: url("../images/fresh-breakfast.jpg");
}
#img2 {
    background-image: url("../images/sweet-lunch.jpg");
}
#img3 {
    background-image: url("../images/delicious-dinner.jpg");
}